body {
  font-family: sans-serif;
}

.wiki-content {
  padding: 2px 2px 2px 2px;
}

.wiki-item {
  margin: 10px;
  box-shadow: aquamarine;
}

/*.wiki-text {
  width: 50%;
}*/

.wiki-img {
  width: 100%;
}

@media (min-width: 600px) {
  .wiki-content {
    display: flex;
    flow-direction: row-reverse;
  }

  .wiki-text {
    min-width: 50%;
    max-width: 50%;
  }

  .img-container {
    min-width: 50%;
    max-width: 50%;
  }

  .container {
    max-width: 960px;
    margin: 0 auto;
  }
}
